.Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-bottom: 1.5px solid #e5e5ed;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  z-index: 1000;
}

.container {
  width: 100%;
  max-width: 1280px;
  display: flex;
  margin: 0 auto;
}

.appIcon {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-right: 64px;
}

.navigator {
  display: flex;
  align-items: center;
  gap: 64px;
}

.user {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.navigatorItem {
  padding: 0 7px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  color: #111;
  white-space: nowrap;
}
a {
  text-decoration: none;
}
.activeNavItem {
  color: #0c1c56;
  font-weight: 600;
  border-bottom: 1px solid #0c1c56;
  transition: all 0.2s ease-in-out;
}
.profileImage {
  width: 32px;
  height: 32px;
  /* border-radius: 50%; */
  object-fit: fill;
  /* border: 1px solid #eee; */
}
.userInfo {
  display: flex;
  align-items: center;
  gap: 8px;
}
.logoutLink {
  color: var(--Font-02_black, #111);

  /* PC/Caption/KR/C3_KR_Rg */
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 145.455% */
  letter-spacing: -0.275px;
  padding: 5px 8px;
  border-radius: 100px;
  border: 1px solid var(--Line-Regular_Color, #e5e5ec);
}
@media (max-width: 768px) {
  .Header {
    border-bottom-width: 0px;
    height: 109px;
  }

  .container {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  /* 1열: 로고 */
  .appIcon {
    margin-right: 0;
    padding: 12px 32px; /* TODO : 임시방편 */
  }
  .styles.icon {
    width: 30px;
    height: 30px;
    aspect-ratio: 1/1;
  }

  /* 1열: 유저 */
  .user {
    margin-left: 0;
    margin-right: 32px; /* TODO : 임시방편 */
  }

  .navigator {
    order: 3;
    width: 100%;
    gap: 0;
  }

  .navigatorItem {
    flex-grow: 1;
    text-align: center;
    padding: 12px 0;
    height: 44px;
    background-color: #fff;
    box-sizing: border-box;
    border-bottom: 1px solid #e5e5ec;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.35px;
    color: #767676;
  }

  .user .navigatorItem {
    flex-grow: 0;
    padding: 0;
    height: auto;
    border: none;
    color: inherit;
  }

  .activeNavItem {
    color: #0c1c56;
    font-weight: 600;
    border-bottom: 1px solid #0c1c56;
  }
}
