@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.css");

:root {
  font-family: "Pretendard";
  background-color: #fff;
  color: #111111;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Colors */
  --color-primary: #0c1c56;
  --color-secondary: #1d56bc;
  --color-thr: #246beb;
  --color-error: #dc0000;
  --color-line: #f1f1f5;

  /* Font Colors */
  --font-color-sub: #505050;
  --font-color-disabled: #999999;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100px; /* 임시방편 */
}

.icon {
  width: 20px;
  height: 20px;
}
/* TODO : 안 먹힘 */